@page "/menu/create"
@inject HttpClient http
@inject NavigationManager nav

<h1>New Menu Item</h1>

<MenuForm Dish="@dish" OnSubmit="@CreateDish" />

@code {
    private Dish dish = new Dish();

    private async Task CreateDish()
    {
        var response = await http.PostJsonAsync<Dish>("api/menu", dish);
        nav.NavigateTo($"menu/{response.Id}");
    }
}