@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @*<AuthorizeView>
        <Authorized>
        <span>Hello, @context.User.Identity.Name!</span>
        <a href="Logout" class="nav-link btn btn-link">Log out</a>
        </Authorized>
        <NotAuthorized>*@
        <a href="login" class="nav-link btn btn-link">Log in</a>
        <a href="register" class="nav-link btn btn-link">Register</a>
        @*</NotAuthorized>
        </AuthorizeView>*@
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
